</div> <!-- закрывающий тег для блока content -->
{{subscribe}}
<footer class="footer">
  <div class="container">
      <div class="footer__wrapper">
          <div class="footer__column">
              <div class="logo">
                  {{ name }}
              </div>
                <div class="address-item">
                    {{ address2 }}
                </div>
              <div class="address-item">
                  {{ domainLang.address }}
              </div>
          </div>
          <div class="footer__column">
              <ul class="contact">
                  <li class="contact__item contact__phone">
                      <a href="tel:{{ telephone }}">{{ telephone }}</a>
                  </li>
                  <li class="contact__item contact__time">{{ open }}</li>
                  <li class="contact__item contact__feedback">
                      <a href="#" class="link link_underline js-feedback-toggle">Хотите мы вам перезвоним?</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</footer>
</body>
</html>