{{ header }}
<div class="container">
    <h1>Галерея</h1>
    <div class="box box_small">
        <div class="row row_flex">
            {% for gallery in galleries %}
                <div class="gallery">
                    <a class="gallery__wrapper" href="{{ gallery.link }}"></a>
                    <div class="gallery__content">
                        <div class="gallery__image-wrapper">
                            <img class="gallery__image" src="/image/{{ gallery.image }}" alt="">
                        </div>
                        <p class="gallery__name">{{ gallery.name }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{{ footer }}
