<!DOCTYPE html>
<html dir="{{direction}}" lang="{{lang}}">
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <base href="{{base}}" />
    {% if show_meta_robots %}
        <meta name="robots" content="noindex, follow" />
    {% endif %}
    {% if description %}
        <meta name="description" content="{{description}}" />
    {% endif %}
    {% if keywords %}
        <meta name="keywords" content="{{keywords}}" />
    {% endif %}
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="website" />
    {% if og_url%}
        <meta property="og:url" content="{{og_url}}" />
    {% endif %}
    {% if og_image %}
        <meta property="og:image" content="{{og_image}}" />
    {% else %}
        <meta property="og:image" content="{{logo}}" />
    {% endif %}
    <meta property="og:site_name" content="{{name}}" />
    {% for link in links %}
        <link href="{{link.href}}" rel="{{link.rel}}" />
    {% endfor %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    {#<link href="catalog/view/theme/unishop2/stylesheet/main.css" rel="stylesheet" media="screen" />#}
    {% for style in styles %}
        <link href="{{style.href}}" type="text/css" rel="{{style.rel}}" media="{{style.media}}" />
    {% endfor %}
    {% if custom_style %}
        <link href="catalog/view/theme/unishop2/stylesheet/{{custom_style}}" rel="stylesheet" media="screen" />
    {% endif %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="/catalog/view/theme/kate/src/styles/icomoon.css">
    <link rel="stylesheet" href="/catalog/view/theme/kate/css/main.css">
    {% if user_css %}
        <style>{{user_css}}</style>
    {% endif %}
    <script src="catalog/view/theme/unishop2/js/jquery-2.1.1.min.js"></script>
    <script src="catalog/view/theme/unishop2/js/slick.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="/catalog/view/theme/kate/src/js/script.js"></script>
    <script src="/catalog/view/theme/kate/src/js/slider.js"></script>
    <script>if(!localStorage.getItem('display')) localStorage.setItem('display', '{{default_view}}');</script>
    <script src="catalog/view/theme/unishop2/js/jquery.maskedinput.min.js"></script>
    <script src="catalog/view/theme/unishop2/js/common.js"></script>
    {% if user_js %}
        <script>{{user_js}}</script>
    {% endif %}
    {% for script in scripts %}
        <script src="{{script}}"></script>
    {% endfor %}
</head>
<body">
<header class="header">
    <div class="container">
        <div class="row row_flex">
            <div class="header__column">
                <div class="address">
                    <p class="address__title">Натяжные потолки</p>
                    <p class="address__name">Верхнедвинский район</p>
                </div>
            </div>
            <div class="header__column">
                <div class="logo">
                    BACKGROUND
                </div>
            </div>
            <div class="header__column">
                <ul class="contact">
                    <li class="contact__item contact__phone">
                        <a href="tel:{{ telephone }}">{{ telephone }}</a>
                    </li>
                    <li class="contact__item contact__time">Ежедневно с 09:00 до 21:00</li>
                    <li class="contact__item contact__feedback"><a href="#" class="link link_underline js-feedback-toggle">Хотите мы вам перезвоним?</a></li>
                </ul>
            </div>
        </div>
        {{menu}}
    </div>
    <div class="modal js-feedback-modal">
        <div class="modal__wrapper">
            <div class="modal__content">
                <div class="modal__header">
                    <h2 class="modal__title">Оставьте заявку</h2>
                    <p class="modal__subtitle">и мы Вам перезвоним</p>
                    <a href="#" class="modal__close js-close-modal"></a>
                </div>
                <form class="form" action="">
                   <div class="form__wrapper">
                       <div class="form__row">
                           <div class="input">
                               <input type="text" class="input__field input__field_bordered" placeholder="Имя">
                           </div>
                           <div class="input input_margin">
                               <input type="text" class="input__field input__field_bordered" placeholder="Фамилия">
                           </div>
                       </div>
                       <div class="form__row">
                           <div class="input">
                               <input type="tel" class="input__field input__field_bordered" placeholder="Телефон">
                           </div>
                       </div>
                       <div class="form_row">
                           <div class="button-group">
                               <button class="button button_default button_wide">Оставить заявку</button>
                           </div>
                       </div>
                   </div>
                </form>
            </div>
        </div>
    </div>
</header>
<div id="main-content" role="main">