{{ header }}
<main class="content">
    <div class="container">
        {% if banners %}
        <div class="slider">
            <button class="button slider__controls js-slider-prev">
                <span class="icon-back"></span>
            </button>
            <div class="slider__wrapper js-wallpaper">
                {% for banner in banners %}
                    <div class="slider__item">
                        <div><img class="slider__image" src="{{ banner.image }}" alt=""></div>
                        <div class="slider__header">
                            <h3 class="slider__title">{{ banner.title }}</h3>
                            <p class="slider__subtitle">{{ banner.title }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="button slider__controls slider__controls_right js-slider-next">
                <span class="icon-next"></span>
            </button>
        </div>
        {% endif %}
        <div class="box">
            <article class="article article_bordered">
                <section>
                    <p>Декоративная штукатурка (жидкие обои) - это нестандартный и креативный способ реализации задумок по преображению помещений любых типов. В любом из них декоративная штукатурка поможет реализовать смелые дизайнерские замыслы и творческие фантазии.</p>
                    <p>Декоративная штукатурка отличается высокой степенью стойкости и долговечности. К тому же, если вам наскучил цвет, то его заменить, не прибегая к удалению всего покрытия. Полученные рельефы и ярко выраженные структуры помогают снизить износ поверхности и добиться высокой прочности. Кроме этого, рельефные покрытия можно смело использовать для влажных помещениях. </p>
                    <p>У нас на этот материал выгодная цена, а опыт и художественный вкус поможет добиться задуманного результата быстро, качественно и надежно. </p>
                </section>
            </article>
        </div>
    </div>
</main>
{{ footer }}