<div class="subscribe row">
	<form name="subscribe">
		{# KUG-455 #}
		{#<div class="subscribe-info col-sm-3 col-md-3">#}
			{#{{ text_subscribe_info_points }}#}
		{#</div>#}
		{#<div class="subscribe-input col-sm-6 col-md-6">#}
			{#<div class="email">#}
				{#<input type="text" name="email" value="{{customer_email}}" placeholder="{{text_subscribe_mail_placeholder}}" class="form-control" />#}
			{#</div>#}
			{#<div class="pass">#}
				{#<input type="password" name="password" value="" placeholder="{{text_subscribe_pass_placeholder}}" disabled="disabled" class="form-control" />#}
			{#</div>#}
		{#</div>#}
		{#<div class="subscribe-button col-sm-3 col-md-3">#}
			{#<button type="button" class="btn btn-block" data-loading-text="{{text_loading}}" onclick="add_subscribe(this);"><i class="fa fa-envelope hidden-sm"></i> <span>{{button_subscribe}}</span></button>#}
		{#</div>#}
	</form>
</div>