<div id="column-profile" class="col-sm-4 col-md-4 col-lg-3">
    <ul class="list-unstyled">
        <li>
            <a href="/index.php?route=account/edit">{{ text_data }}</a>
            {% if confirmed %}
                <span class="confirmed">{{ text_confirmed }}</span>
            {% else %}
                <span class="not-confirmed">{{ text_not_confirmed }}</span>
            {% endif %}
        </li>
        <li><a href="/index.php?route=account/order">{{ text_history }}</a></li>
        <li><a href="/index.php?route=account/password">{{ text_password }}</a></li>
    </ul>
</div>
