<!DOCTYPE html>
<html>
<head xmlns="http://www.w3.org/1999/html">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body style="margin:0; padding:0">
<table border="0" bgcolor="#ffffff" cellpadding="0" cellspacing="0" style="margin:0; padding:0"
       width="100%">
    <tr>
        <td>
            <table border="0" bgcolor="#ffffff" cellpadding="0" cellspacing="0" style="margin:0; padding:0"
                   width="100%">
                <tr>
                    <td style="padding: 31px 0px 31px 20px;margin:0;" width="30%" align="left">
                        <img src="{{ html.logo }}" alt="" border="0" width="230" height="52"
                             style="display:block;"/>
                    </td>
                    <td style="padding: 31px 20px 31px 0px;margin:0;" width="70" align="right">
                        <a href="tel:{{ html.domainLang.phone }}"
                           style="text-decoration:none;color: #000000; font: 16px Verdana, sans-serif; line-height: 30px; -webkit-text-size-adjust:none; display: block;"
                           target="_blank">{{ html.domainLang.phone }}
                        </a>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table border="0" bgcolor="#212121" cellpadding="0" cellspacing="0" style="margin:0; padding:0"
                   width="100%">
                <tr>
                    <td style="padding: 5px 0px 5px 0px;margin:0;" width="20" align="center">
                    </td>
                    <td style="padding: 5px 0px 5px 0px;margin:0;" width="70" align="center">
                        <a href="{{ html.menu.catalog.link }}"
                           style="text-decoration:none;color: #ffffff; font: 16px Verdana, sans-serif; line-height: 30px; -webkit-text-size-adjust:none; display: block;"
                           target="_blank">{{ html.menu.catalog.text }}
                        </a>
                    </td>
                    <td style="padding: 5px 0px 5px 0px;margin:0;" width="30" align="center">
                        <img src="{{ splitter }}" alt="" border="0" width="1"
                             height="16" style="display:block;padding:0px 10px 0px 10px;"/>
                    </td>
                    <td style="padding: 5px 0px 5px 0px;margin:0;" width="190" align="center">
                        <a href="{{ html.menu.payAndDelivary.link }}"
                           style="text-decoration:none;color: #ffffff; font: 16px Verdana, sans-serif; line-height: 30px; -webkit-text-size-adjust:none; display: block;"
                           target="_blank">{{ html.menu.payAndDelivary.text }}
                        </a>
                    </td>
                    <td style="padding: 5px 0px 5px 0px;margin:0;" width="30" align="center">
                        <img src="{{ splitter }}" alt="" border="0" width="1"
                             height="16" style="display:block;padding:0px 10px 0px 10px;"/>
                    </td>
                    <td style="padding: 5px 0px 5px 10px;margin:0;" width="auto" align="left">
                        <a href="{{ html.menu.historyOrder.link }}"
                           style="text-decoration:none;color: #ffffff; font: 16px Verdana, sans-serif; line-height: 30px; -webkit-text-size-adjust:none; display: block;"
                           target="_blank">{{ html.menu.historyOrder.text }}
                        </a>
                    </td>
                    <td style="padding: 5px 0px 5px 0px;margin:0;" width="20" align="center">
                    </td>
                </tr>

            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table border="0" bgcolor="#ffffff" cellpadding="0" cellspacing="0" style="margin-top: 20px; padding:0"
                   width="60%">
                <table style="border-collapse: collapse; width: 100%; border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; margin-bottom: 20px;">
                    <tr>
                        <td>
                            <table style="width: 100%;">
                                <tr>
                                    <td style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: left; padding: 7px; color: #222222;">
                                        <b>{{ text_order_id }}</b></td>
                                    <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{{ order_id }}</td>
                                </tr>
                                <tr>
                                    <td style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: left; padding: 7px; color: #222222;">
                                        <b>{{ text_date_added }}</b></td>
                                    <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{{ date_added }}</td>
                                </tr>
                                <tr>
                                    <td style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: left; padding: 7px; color: #222222;">
                                        <b>{{ text_order_status }}</b></td>
                                    <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{{ order_status }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table style="border-collapse: collapse; width: 100%; border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; margin-bottom: 20px;">
                    <thead>
                    <tr>
                        <td style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: left; padding: 7px; color: #222222;">{{ text_product }}</td>
                        <td style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: left; padding: 7px; color: #222222;">{{ text_model }}</td>
                        <td style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: right; padding: 7px; color: #222222;">{{ text_quantity }}</td>
                        <td style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: right; padding: 7px; color: #222222;">{{ text_price }}</td>
                        <td style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: right; padding: 7px; color: #222222;">{{ text_total }}</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;">{{ product.name }}
                                {% for option in product.option %}<br/>
                                    &nbsp;
                                    <small> - {{ option.name }}: {{ option.value }}</small>{% endfor %}</td>
                            <td style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;">{{ product.model }}</td>
                            <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{{ product.quantity }}</td>
                            <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{{ product.price }}</td>
                            <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{{ product.total }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    {% for total in totals %}
                        <tr>
                            <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;"
                                colspan="4"><b>{{ total.title }}:</b></td>
                            <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{{ total.value }}</td>
                        </tr>
                    {% endfor %}
                    </tfoot>
                </table>
                {% if comment %}
                    <table style="border-collapse: collapse; width: 100%; border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; margin-bottom: 20px;">
                        <tr>
                            <th style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: left; padding: 7px; color: #222222;">{{ text_comment }}</th>
                        </tr>
                        <tr>
                            <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;">{{ comment }}</td>
                        </tr>
                    </table>
                {% endif %}
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table border="0" bgcolor="#212121" cellpadding="0" cellspacing="0" style="margin:0; padding:0"
                   width="100%">
                <tr>
                    <td style="padding: 31px 0px 51px 0px;margin:0;" width="20" align="left">
                    </td>

                    <td style="padding: 31px 0px 51px 0px;margin:0;" width="260" align="center">
                        <a href="{{ html.menuBelow.termsOfUse.link }}"
                           style="text-decoration:none;color: #ffffff; font: 16px Verdana, sans-serif; line-height: 30px; -webkit-text-size-adjust:none; display: block;"
                           target="_blank">{{ html.menuBelow.termsOfUse.text }}
                        </a>
                    </td>
                    <td style="padding: 31px 0px 51px 0px;margin:0;" width="30" align="center">
                        <img src="{{ splitter }}" alt="" border="0" width="1"
                             height="16" style="display:block;padding:0px 10px 0px 10px;"/>
                    </td>
                    <td style="padding: 31px 0px 51px 0px;margin:0;" width="auto" align="left">
                        <a href="{{ html.menuBelow.contacts.link }}"
                           style="text-decoration:none;color: #ffffff; font: 16px Verdana, sans-serif; line-height: 30px; -webkit-text-size-adjust:none; display: block;"
                           target="_blank">{{ html.menuBelow.contacts.text }}
                        </a>
                    </td>

                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
